{% load static %}


  <section class="">
    <div class="">
      <div class="grid grid-cols-3 gap-20 w-full px-24 items-start">

          <div class=" flex flex-col justify-center items-center">

            <div class="mb-3">
              <svg class="text-primary flex-shrink-0 me-3" width="3em" height="3em">
                <use xlink:href="#delivery"></use>
              </svg>
            </div>

            <div class="flex flex-col justify-center items-center">
              <h5 class="fs-5 fw-normal">Bepul Yetqazish</h5>
              <p class="card-text text-center">Agarda Xaridlarning umumiy summasi 500 ming so'mdan oshsa O'zbekiston
                bo'yicha yetqazib berish tekin </p>
            </div>

          </div>

          <div class=" flex flex-col justify-center items-center">
            <div class="mb-3">
              <svg class="text-primary flex-shrink-0 me-3" width="3em" height="3em">
                <use xlink:href="#Shop"></use>
              </svg>
            </div>
            <div class="flex flex-col justify-center items-center">
              <h5 class="fs-5 fw-normal">100% Xavsiz To'lov</h5>
              <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>

          <div class=" flex flex-col justify-center items-center">
            <div class="mb-3">
              <svg class="text-primary flex-shrink-0 me-3" width="3em" height="3em">
                <use xlink:href="#fresh"></use>
              </svg>
            </div>
            <div class="flex flex-col justify-center items-center">
              <h5 class="fs-5 fw-normal">Sifat Kafolati</h5>
              <p class="card-text text-center">Biz barcha mahsulotlarimizgaa 100% kafolat beramiz</p>
            </div>
          </div>

          <div class="">
            <div class="mb-3">
              <svg class="text-primary flex-shrink-0 me-3" width="3em" height="3em">
                <use xlink:href="#calendar"></use>
              </svg>
            </div>
          </div>
      </div>
    </div>
  </section>

  <footer class="section-padding pb-5 bg-dark text-secondary-emphasis" data-bs-theme="dark">
    <div class="container-lg">
      <div class="row my-5 justify-content-center">

        <div class="col-md-3 col-sm-6">
          <div class="footer-menu">

            <img src="{% static 'images/logo.svg' %}" width="240" height="70" alt="logo">

            <div class="social-links mt-3">
              <ul class="d-flex list-unstyled gap-3">
                <li>
                  <a href="#" class="text-secondary-emphasis">
                    <svg width="32" height="32">
                      <use xlink:href="#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary-emphasis">
                    <svg width="32" height="32">
                      <use xlink:href="#twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary-emphasis">
                    <svg width="32" height="32">
                      <use xlink:href="#youtube"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary-emphasis">
                    <svg width="32" height="32">
                      <use xlink:href="#instagram"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary-emphasis">
                    <svg width="32" height="32">
                      <use xlink:href="#amazon"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="footer-menu">
            <h5 class="fs-5 fw-normal text-white">Shop</h5>
            <ul class="menu-list list-unstyled">
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">About us</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Conditions</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Our Journals</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Careers</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Affiliate Programme</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Ultras Press</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu">
            <h5 class="fs-5 fw-normal text-white">Quick Links</h5>
            <ul class="menu-list list-unstyled">
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Offers</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Discount Coupons</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Stores</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Track Order</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Shop</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Info</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu">
            <h5 class="fs-5 fw-normal text-white">Customer Service</h5>
            <ul class="menu-list list-unstyled">
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">FAQ</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Contact</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Privacy Policy</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Returns & Refunds</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Cookie Guidelines</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link text-secondary-emphasis">Delivery Information</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6 copyright">
          <p>© 2025 Furry. All rights reserved.</p>
        </div>
        <div class="col-md-6 credit-link text-start text-md-end">
          <p>HTML Template by <a href="https://templatesjungle.com/" target="_blank" class="text-white text-decoration-none">TemplatesJungle</a></p>
        </div>
      </div>
    </div>
  </footer>
